$imagesVotes: 4;

.card-container {
  padding: 20px;
}
.card-container--header {
  grid-gap: 10px;
  padding: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card-container_background--header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgba(204, 203, 203, 0.2);
  backdrop-filter: blur(10px);
}

.card-container_background {
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

@for $i from 1 through $imagesVotes {
  .card-container_background--#{$i} {
    background: url("../images/#{$i}.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.grid {
  color: #fff;
  
}

.box {
  grid-column: 1 / 6;
  grid-row-start: 1 / 6;
  min-height: 350px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  padding: 35px;
  text-align: left;
  display: flex;
  align-items: flex-end;
}

.box--good {
  text-align: center;
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  opacity: 0.9;
  background-color: #1cbbb4;
  padding: 12px 0px 12px 0px;
  font-size: 3rem;
}

.box--bad {
  text-align: center;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  opacity: 0.9;
  background-color: #ffad1d;
  padding: 12px 0px 12px 0px;
  font-size: 3rem;
}

.box-bad-down {
  transform: scaleX(-1);
}

.box-tittle-size {
  font-size: 60px;
}

.box-content-size {
  font-size: 25px;
  white-space: pre-line;
}

.wiki {
  width: 24px;
  height: 24px;
  filter: invert(1);
  vertical-align: middle;
}

p a {
  vertical-align: middle;
  color: #ffffff;
  text-decoration-style: dashed;
  text-decoration-color: #ffffff;
}

/*
   font Size
 */
.thin {
  font-weight: 100;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}
.black {
  font-weight: 900;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .header {
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .box {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .box-good {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 6;
  }

  .box-bad {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
  }

  .box-tittle-size {
    font-size: 30px;
  }
  .box-content-size {
    font-size: 15px;
    white-space: pre-line;
  }

  .box-good {
    font-size: 2rem;
  }

  .box-bad {
    font-size: 2rem;
  }
}
